<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/script.js" defer></script>
    <title>Mediahuis EPG</title>
</head>

<body>
    <nav class="navigation">

        <button>
            <svg viewBox="0 0 150 120" width="40" height="40">
                <title>Hamburger menu</title>
                <rect width="100" height="20"></rect>
                <rect y="30" width="100" height="20"></rect>
                <rect y="60" width="100" height="20"></rect>
            </svg>
        </button>

        <ul>
            <li><a href="views/index/liquid"></a>Home</li>
            <li><a href="/"></a>Radio</li>
            <li><a href="/"></a>Ontdekken</li>
        </ul>

    </nav>

    {% comment %} <aside class="sidemenu" id="sidemenu" aria-labelledby="menu-toggle">
        <ul class="radiopicker">
            {% for radiostation in radiostations %}
            <li class="station-item">
                <a href="/radio/{{ radiostation.name | url_encode | replace: '+', '%20' }}">
                    <img src="https://fdnd-agency.directus.app/assets/{{radiostation.logo}}"
                        alt="{{ radiostation.name }} logo">
                </a>
            </li>
            {% endfor %}
        </ul>
    </aside> {% endcomment %}