{% render 'partials/head.liquid'%}

<main>
    <div class="radio-intro">
        <h1>Radiostations</h1>
        <p>Kies een radiostation</p>
    </div>


    <ul class="radiostations">
        {% for radiostation in radiostations %}
        <li class="station-item">
            <a href="/radio/{{ radiostation.name | url_encode | replace: '+', '%20' }}">
                <h2 class="radio-name" style="view-transition-name: radio-{{ radiostation.id }}">{{ radiostation.name }}</h2>
                <img src="https://fdnd-agency.directus.app/assets/{{radiostation.logo}}" alt="">
            </a>
        </li>
        {% endfor %}
    </ul>

</main>

{% render 'partials/foot.liquid'%}